# Core AI/ML Libraries
tensorflow-cpu
keras
gast
numpy
scipy
pandas
scikit-learn
matplotlib

# NLP
nltk
spacy
transformers
fuzzywuzzy
torch>=1.10,<2.1

# OCR & Vision
opencv-python
easyocr
Pillow

# Backend / Django
Django
djangorestframework
gunicorn
psycopg2-binary  # or mysqlclient depending on your DB

# LangChain and PDF
langchain
PyPDF2
pdfminer.six
unstructured

# Others
requests
tqdm
joblib
python-decouple
whitenoise
google-api-core
google-auth
google-cloud-vision
google-pasta
googleapis-common-protos
gpt4all
langchain-chroma
langchain-community
langchain-core
langchain-openai
langchain-text-splitters
langchain-together
langdetect
langsmith
lazy_loader
Levenshtein
libclang
lxml
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
ml-dtypes
mmh3
monotonic
mpmath
